{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>S'inscrire</h1>

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.pseudo) }}
            {{ form_row(registrationForm.dateNaissance) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-primary">M'inscrire</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>

{% endblock %}
