{% extends 'base.html.twig' %}

{% block title %}Mes recettes - Malewapp{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="fw-bold">Mes recettes</h1>

                <p> <a href="{{ path("app_ajouter") }}">Ajouter ma recette</a></p>
                {% if is_granted('ROLE_ADMIN') %}
                    <p> <a href="{{ path("app_video") }}">Ajouter une recette en video</a></p>
                {% endif %}

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success mt-4">{{ message }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            {% for recette in recettes %}
                <div class="col-12 col-md-4">
                    <div class="card mb-2" style="width: 18rem;">
                        {% if recette.image %}
                            <img src="uploads/{{ (recette.image)}}" alt="{{recette.name  }}" class="card-img-top rounded-top">
                        {% endif %}
                        {% if recette.videos %}
                            <video src="uploads/{{ (recette.videos)}}" class="card-img-top"  controls allowfullscreen></video>
                        {% endif %}

                        <div class="card-body">
                            <a href="{{ path('app_show',{'slug': recette.slug}) }}" class="nav-link"><h5 class="card-title">{{ recette.name }}</h5></a>

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="ps-3 pb-3">
                                <a href="{{ path("app_modifier", {id: recette.id}) }}"  class="d-inline-block text-secondary text-decoration-none btn btn-light">Modifier</a>
                                <a href="{{ path("app_supprimer", {id: recette.id}) }}" onclick="return confirm('Attention, suppression d\'une recette')" class="text-secondary text-decoration-none btn btn-light">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>





                {% endfor %}
            </div>
    </div>
{% endblock %}