{% extends 'base.html.twig' %}

{% block title %}Mes recettes - Malewapp{% endblock %}

{% block content %}
    <div class="row mb-5">
        <h1>Mes recettes</h1>
        <br><br>
        <hr>
        <p> -<a href="{{ path("app_Ajouter_recette") }}">Ajouter ma recette</a></p>
        {% if is_granted('ROLE_ADMIN') %}
            <p> -<a href="{{ path("app_Ajouter_video") }}">Ajouter une recette en video</a></p>
        {% endif %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">{{ message }}</div>
        {% endfor %}
            <div class="row">
                {% for recette in recettes %}
                <div class="col-md-4 d-inline-flex ">
                    <article class="recette_survole bg-white rounded shadow" style="width: 21rem">
                        <a href="{{ path('recette',{'slug': recette.slug}) }}">
                            <img src="uploads/{{ (recette.image)}}" alt="{{recette.name  }}"  class="  card-img-top image_size w-100 rounded-top">
                            <iframe class="embed-responsive-item" src="uploads/{{ (recette.videos) }}" allowfullscreen></iframe>
                        </a>

                        <h2 class="h5 ps-3 py-2 text-capitalize">{{ recette.name }}</h2>
                        <div class="ps-3 pb-3">
                            <a href="{{ path("app_modifier", {id: recette.id}) }}"  class="d-inline-block text-secondary text-decoration-none btn btn-light">Modifier</a>
                            <a href="{{ path("app_supprimer", {id: recette.id}) }}" onclick="return confirm('Attention, suppression d\'une recette')" class="text-secondary text-decoration-none btn btn-light">Supprimer</a>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
{% endblock %}