{% extends 'base.html.twig' %}

{% block title %}{{ recette.name }}{% endblock %}

{% block content %}

    <h1 class="display-6 text-center">{{ recette.name }}</h1>
    <div class="row mb-5">
        <div class="col text-center">
            {% include "component/_share.html.twig" %}
            <img src="/uploads/{{ recette.image }}" alt="{{recette.name }}" class="img-fluid rounded-2 w-50 ">
            <div class=" text-center">
                <a href="{{ path('app_like' , {'id' : recette.id}) }}"  class="js-like text-danger nav-link">
                    {% if(app.user and recette.islikedByUser(app.user))   %}
                        <i class="fas fa-heart"></i>
                        <span>  {{ recette.favorite |length }} J'aime</span>
                    {% else %}
                        <i class="far fa-heart"></i>
                        <span> {{ recette.favorite |length }} J'aime</span>
                    {% endif %}</a>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col my-auto ">
            <h3 class="display-6">Préparation</h3>
            <p>Les ingrédients :
                {% for ingredient in recette.ingredients %}
                    {{ ingredient.ingredienNom }}
                {% endfor %}
            </p>
            <p>type de plat : {{ recette.category }}</p>
            <p>Temps de préparation : {{ recette.duree.format('H:i:s')}}</p>
            <p> Comment faire :{{ recette.description | raw }}</p>
            <hr>
        </div>
    </div>
    <!-------------------------- Les commentaires  ----------------------------->
    <section class="row">
        <div class="col-md-12">
            <h3 class="display-6">Commentaire</h3>
            <div class="">
                {% if app.user %}
                    {{ form(commentForm) }}
                {% endif %}

            </div>
            {% for commentaire in recette.commentaires %}
                <p>Publié par {{ commentaire.auteur }} le {{ commentaire.createdAt| date("d/m/Y H:i") }}</p>
                <div>{{ commentaire.contenu }}</div>
                <p><a href="" data-reply data-id="{{ commentaire.id}} "></a></p>
            {% endfor %}

        </div>
    </section>


    <!-------------------------------------- fonction Js pour les likes    ----------------------------------------->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        function onClickBtnLike(event) {
            event.preventDefault()

            const url = this.href;
            const icon = this.querySelector('i')
            const spanCount = this.querySelectorAll('span.js-like')

            axios.get(url).then(function (response){
                spanCount.textContent = response.data.favorite
                if(icon.classList.contains('fas')){
                    icon.classList.replace('fas','far')
                }
                else {
                    icon.classList.replace('far', 'fas')
                }
            })
        }

        document.querySelectorAll('a.js-like').forEach(function (link){
            link.addEventListener('click',onClickBtnLike)
        })
    </script>

{% endblock %}


