<div class="card h-100" style="width: 16rem;">
    {% if recette.image %}
        <img src="{{asset ('uploads/'~ recette.image)}}" alt="{{recette.name  }}" height="200px" class="card-img-top  rounded-top">
    {% endif %}
    {% if recette.videos %}
        <video src="{{asset ('uploads/'~recette.videos)}}" class="card-img-top"  controls allowfullscreen></video>
    {% endif %}

    <div class="card-body">
        <a href="{{ path('app_show',{'slug': recette.slug}) }}" class="nav-link"><h4 class="card-title fw-bold text-center text-capitalize">{{ recette.name }}</h4></a>
        <p>{{ recette.description }}</p>
    </div>
</div>