{% extends 'base.html.twig' %}

{% block title %}Recette index{% endblock %}

{% block body %}
    <h1>Recette index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Time</th>
                <th>Description</th>
                <th>Price</th>
                <th>IsFavorite</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}
            <tr>
                <td>{{ recette.id }}</td>
                <td>{{ recette.name }}</td>
                <td>{{ recette.time }}</td>
                <td>{{ recette.description }}</td>
                <td>{{ recette.price }}</td>
                <td>{{ recette.isFavorite ? 'Yes' : 'No' }}</td>
                <td>{{ recette.image }}</td>
                <td>
                    <a href="{{ path('app_recettecrud_show', {'id': recette.id}) }}">show</a>
                    <a href="{{ path('app_recettecrud_edit', {'id': recette.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_recettecrud_new') }}">Create new</a>
{% endblock %}
